streamlit
torch
transformers
faiss-cpu
langchain-core
langchain-huggingface
langchain-community
langchain-text-splitters
python-docx
langchain
PyPDF2
sentence-transformers
python-dotenv
huggingface-hub
numpy
scipy
transformers 
accelerate 
torch 
sentencepiece